SHEET1       SHEETINFO "C:\\Users\\pablo\\Project number increaser\\numberIncreaser.win"
EXEINFO      EXEINFO
BEGIN
        0x4f,
        0x103,
        0x8,
        0x27,
        0xc,
        0x13,
        0x4f50,
        0x4357,
        0x424f,
        0x6e00,
        0x6d75,
        0x6562,
        0x4972,
        0x636e,
        0x6572,
        0x7361,
        0x7265,
        0x452e,
        0x4558,
        0x2000,
        0x5000,
        0x2,
        0xf701,
        0x10e0,
        0x100,
        0x100,
        0xe00,
        0x100,
        0xe00,
        0x300,
        0x1700,
        0x5300,
        0x4548,
        0x5445,
        0x31,
        0x800,
        0x5000,
        0x2,
        0xf601,
        0xd4
END
